# Run tests and compute code coverage
name: coverage
on:
  pull_request:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - uses: actions/checkout@v4

      - run: go test -race -v -coverprofile=dash.cov -coverpkg=./... ./...

      - uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: dash.cov
          parallel: true

  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: shogo82148/actions-goveralls@v1
        with:
          parallel-finished: true
