# Make sure the client doesn't run successfully without the -y flag
name: privacy
on:
  pull_request:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: "1.24"

      - uses: actions/checkout@v6

      - run: go build -v ./cmd/dash-client

      - run: |
          if ./dash-client; then
            echo "expected this command to fail"
            exit 1
          fi
